---
title: "Welcome"
posted: 2014-01-28
---

Welcome to my site, built in Assemble!
<ul>
  {{#withSort this.pages 'data.posted'}}
    <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
  {{/withSort}}
</ul>